npm install tailwindcss @tailwindcss/postcss postcss
npx tailwindcss init -p

# Design system helpers
npm install class-variance-authority clsx tailwind-merge lucide-react
npm install @tanstack/react-query

npx shadcn@latest init
npx shadcn@latest add button card avatar switch
npm install tw-animate-css
npm install next-themes
npm install react-hook-form @hookform/resolvers zod @radix-ui/react-label @radix-ui/react-slot